@use "uswds-core" as *;

.usa-button--big {
    text-decoration: none;
    font-weight: 700;
}

.button-vha {
    font-family: "Myriad-Pro", helvetica, arial, sans-serif;
}

.button-vha--yellow {
    background-color: #FBCF39;
    color: #{color("base-darkest")};

    &:visited {
        color: #{color("base-darkest")};
    }

    &:hover {
        background-color: #ecc135;
        color: #{color("base-darkest")};
    }

}

.button-vha--teal {
    background-color: #009485;
    color: #fff;

    &:visited, {
        color: #fff;
    }

    &:hover {
        background-color: #00887a;
        color: #fff;
    }

}