@use "uswds-core" as *;

.iex-about {
    background-color: #{color("base-lightest")};

    &__image {
        position: relative;
    }
    
    &__image-large {
        position: relative;
        z-index: 10;
    }

    &__image-small {
        position: absolute;
        bottom: -48px;
        left: -48px;
        z-index: 20;
        width: 100%;
        max-width: 348px;
    }
}