@use "uswds-core" as *;

.iex-about {
    background-color: #{color("base-lightest")};
    background-color: none;

    &__image {
        position: relative;
    }
    
    &__image-large {
        position: relative;
        right:-140px;
        top:50px;
        z-index: 99;
        max-width: 500px;
        
    }

    &__image-small {
    
       

        @include at-media(mobile) {
           position: inherit;
           left:0;
            display: block;
            margin: 0 auto;
            border: 10px solid red;
            max-width: 100%;
        }

        @include at-media(tablet-lg) {

            position: absolute;
            top:0;
            left:-60px;
            z-index: 20;
            max-width: 300px;
          
            border: 10px solid green;
        }

        @include at-media(desktop) {
         
            position: absolute;
            top:0;
            left:-60px;
            z-index: 20;
            max-width: 300px;

            border: 10px solid yellow;
            border: none;
        }        
    }
}