<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="The 2024 Veterans Health Administration (VHA) Innovation Experience (iEX) is an exciting opportunity to be at the forefront of change alongside your fellow innovators, VA employees, Veterans, Industry Leaders, and researchers.">
  <title>2024 VHA Innovation Experience | VHA IEX</title>

  <meta property="og:title" content="2024 Veterans Health Administration (VHA) Innovation Experience (iEX)">
  <meta property="og:url" content=https://innovation.va.gov/hil/views/iex-2024/>
  <meta property="og:description" content="The 2024 Veterans Health Administration (VHA) Innovation Experience (iEX) is an exciting opportunity to be at the forefront of change alongside your fellow innovators, VA employees, Veterans, Industry Leaders, and researchers.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://innovation.va.gov/hil/views/iex-2024/assets/img/iex-2024/og-image.jpg">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="assets/uswds/js/uswds-init.min.js"></script>
</head>

  <body>
 
    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header.html" %}
      
        <main>
          <div class="gradient-overlay"></div>
          {% include "iex-2024/hero.html" %}
        </main>

        {% include "footer.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="assets/uswds/js/uswds.min.js"></script>
    <script src="assets/js/vendors/lazy/jquery.lazy.min.js"></script>
    <script src="assets/js/vendors/counter/counter.min.js"></script>
    <script src="assets/js/functions.js"></script>
    <script src="assets/js/vendors/splitting/splitting.min.js"></script>
    <script src="assets/js/vendors/lenis/lenis.min.js"></script>
    <script src="assets/js/vendors/gsap/gsap.min.js"></script>
    <script src="assets/js/vendors/gsap/ScrollTrigger.min.js"></script>
    <script src="assets/js/smooth-scrolling.js"></script>
    <script src="assets/js/animations/about-animations.js"></script>
    <script src="assets/js/animations/breakout-tracks-animations.js"></script>
    <script src="assets/js/animations/counter-animations.js"></script>
    <script src="assets/js/animations/hero-animations.js"></script>
    <script src="assets/js/animations/iex-talks-animations.js"></script>
    <script src="assets/js/animations/keynote-speakers-animations.js"></script>
    <script src="assets/js/animations/look-back-animations.js"></script>
    <script src="assets/js/animations/vha-sharktank-animations.js"></script>

  </body>
</html>