<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Embrace a world of possibilities as we pave the way for cutting-edge advancements, foster growth through immersive learning experiences, and drive transformative changes in healthcare.">
  <title>VHA - Office of Healthcare Innovation and Learning</title>

  <meta property="og:title" content="Office of Healthcare Innovation and Learning">
  <meta property="og:url" content="https://innovation.va.gov/hil/">
  <meta property="og:description" content="Embrace a world of possibilities as we pave the way for cutting-edge advancements, foster growth through immersive learning experiences, and drive transformative changes in healthcare.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://innovation.va.gov/hil/assets-3-5/img/home/og-image.jpg">

  <link
    rel="preload"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
      <link
          href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"
          type="text/css"
      />
  </noscript>

  <link rel="stylesheet" href="assets-3-5/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="assets-3-5/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="assets-3-5/uswds/js/uswds-init.min.js" async></script>
</head>

  <body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      
      {% include "header.html" %}
      
        <main>
            {% include "home/hero.html" %}
            {% include "home/introduction.html" %}
            {% include "home/state-of-innovation.html" %}
            {% include "home/divisions.html" %} 
        </main>

        {% include "footer.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="assets-3-5/uswds/js/uswds.min.js"></script>
    <script src="assets-3-5/js/vendors/lazy/jquery.lazy.min.js"></script>
    <script src="assets-3-5/js/vendors/parallax-scroll/jquery.parallax-scroll.js"></script>
    <script src="assets-3-5/js/functions.js"></script>

  </body>
</html>