/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

@forward "vha/";

:root {
   --blue-2: #{color("blue-warm-20v")};
   --blue-3: #{color("blue-warm-30v")};
   --blue-8: #{color("blue-warm-50v")};
   --grape-0: #{color("violet-10v")};
   --gray-2: #{color("gray-20")};
   --gray-9: #{color("gray-90")};
   --indigo-3: #{color("indigo-20v")};
   --indigo-4: #{color("indigo-30v")};
   --indigo-7: #{color("indigo-50v")};
   --indigo-8: #{color("indigo-60v")};
   --indigo-9: #{color("indigo-60v")};
   --red-8: #{color("red-warm-50v")};
   --red-9: #{color("red-warm-60v")};
   --teal-1: #{color("mint-20v")};
   --teal-3: #{color("mint-40v")};
   --teal-5: #{color("mint-50v")};
   --teal-7: #{color("mint-60v")};
   --teal-9: #{color("mint-70v")};
   --teal-2: #{color("mint-30v")};
   --yellow-1: #{color("gold-10v")};
   --yellow-7: #{color("gold-30v")};
   --font-sans: #{family("sans")};
   --font-serif: #{family("serif")};
   --font-mono: #{family("mono")};  
 }
 

 body {
 
   background: red;
   background: #13181c;
   background: linear-gradient(180deg, #122E50 10%, #11181D 16%);

   @include at-media(mobile-lg) {
    background: linear-gradient(180deg, #122E50 12%, #11181D 18%);
   }

   @include at-media(tablet-lg) {
    background: linear-gradient(180deg, #122E50 15%, #11181D 20%);
   }

   @include at-media(desktop){
    background: linear-gradient(180deg, #122E50 18%, #11181D 25%);
   }

 }

//  h3{
//   color: white;
//   font-size: 70px;
//   line-height: 80px;
//   font-weight: 700;
//   font-family: Myriad Pro, sans-serif;
//   letter-spacing: -1px;
//   padding: 0;
//   margin: 0;
//  }
 h3 span{
  color: #00BDE3;
 
 }
 h4{
  color: white;
  margin: 0;
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
 }

 a {
  color: #00BDE3;
 }
 .border-left-1px, .border-right-1px{
  border-color:  #2E6276;
 }
 @media (max-width: 878px) { /* Adjust the max-width to match mobile-lg breakpoint */
  .mobile-lg-border-left-0 {
    border-left: 0 !important;
    border-right: 0 !important;
  }
}