<section id="iex-about" class="iex-container iex-about z-100">
    <div class="grid-container text-white">
        <div class="grid-row flex-align-start" id="iex-about-grid-row">
            <div class="grid-col-12 tablet-lg:grid-col-6 mobile:order-1 tablet-lg:order-1 border-left-1px mobile-lg-border-left-0 padding-x-0 tablet-lg:padding-x-4">
                <div class="text-reveal">
                    <h3 class="margin-bottom-2 font-condensed-bold">ABOUT <span>i</span>EX</h3>
                </div>
                <h4 class="" data-splitting>Transforming Veteran Care: The 2024 VHA Innovation Experience</h4>
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-6 widescreen:grid-col-5 widescreen:grid-offset-1 mobile:order-2 tablet-lg:order-2 margin-top-4 tablet-lg:margin-top-0">

                <p class="margin-top-0"><a href="https://www.innovation.va.gov/hil/home.html">Health Administration’s Office of Healthcare Innovation and Learning (VHA OHIL)</a> welcomes you to the 2024 VHA Innovation Experience (iEX) Conference, an exciting opportunity to be at the forefront of change alongside your fellow innovators, VA employees, Veterans, industry leaders, and researchers.
                </p>

                <p>This year's theme, “Collaborate for Change,” will showcase in-person experiences that include speakers, expert panel discussions, presentations, breakout sessions, and an all-new exhibit hall format.
                </p>

                <p>VHA innovation is about breaking boundaries through innovative solutions and technology to make monumental improvements in the lives of Veterans. Shape the future of Veteran care with leaders from government, industry, and academia who are redefining how VA approaches Veterans' care and uses innovation to make lasting improvements.
                </p>

            </div>
        </div>

        <div class="grid-row flex-justify-center margin-top-4 tablet-lg:margin-top-15">
            <div class="grid-col-12 mobile:grid-col-8 tablet-lg:grid-col-8 desktop-lg:grid-col-9">
                <div class="iex-about__image position-relative">
                    <img data-src="assets/img/about-iex-1.webp" alt="female iEX panelist" class="iex-about__image-small radius-lg maxw-full lazy display-block padding-right-0 tablet-lg:padding-right-15" id="about-image-2" />
                    <img data-src="assets/img/about-iex-2.webp" alt="male iEX speaker on stage" class="iex-about__image-large radius-lg maxw-full lazy margin-left-auto margin-top-4 tablet:margin-top-0 display-block padding-left-0 tablet-lg:padding-left-15" id="about-image-1" />
                </div>
            </div>
        </div>

    </div>
</section>






