<section id="breakout-tracks" class="iex-container iex-breakout-tracks">
    <div class="grid-container">
        <div class="grid-row flex-align-start" id="breakout-tracks-row">
            <div class="grid-col-12 tablet-lg:grid-col-6 desktop-lg:grid-col-5 text-white border-left-1px mobile-lg-border-left-0 tablet-lg:padding-x-4">
                <h3 class="margin-bottom-2 font-condensed-bold text-uppercase">Breakout <span>Tracks</span></h3>
                <h4 class="margin-bottom-5" data-splitting>iEX’s informative breakout sessions return this year to help you dive deeper into innovation with four major themes.</h4>
                <p class="margin-bottom-0">These interactive experiences will help brainstorm innovative strategies to solve some of VA and Veteran's toughest challenges in health and wellness. Meet the nation's leading innovators, bringing you with them to the cutting edge of change. </p>
            </div>

            <div class="grid-col-12 tablet-lg:grid-col-6 desktop-lg:grid-col-7 position-relative margin-top-4 desktop:margin-top-0">                
                <div class="parallax-content radius-lg position-relative tablet-lg:margin-bottom-neg-5">
                    <img data-src="assets/img/breakout-tracks-group.webp" title="Group of people talking" class="radius-lg responsive lazy  position-absolute" />
                </div>
                <div class="breakout-tracks-topics text-white display-flex grid-row margin-top-4 tablet-lg:margin-top-0">
                    <div class="mobile:padding-x-1 grid-col-12 tablet-lg:grid-col-3">
                        <div class="topic radius-lg mobile:padding-x-1 mobile:padding-y-2 text-center">
                            <span>What is VHA <br /> Innovation?</span>
                        </div>
                    </div>
                    <div class="mobile:padding-x-1 grid-col-12  tablet-lg:grid-col-3 mobile:margin-top-2 tablet-lg:margin-top-0">
                        <div class="topic radius-lg mobile:padding-x-1 mobile:padding-y-2 text-center">
                            <span>Mastering <br /> Innovation</span>
                        </div>
                    </div>
                    <div class="mobile:padding-x-1 grid-col-12  tablet-lg:grid-col-3 mobile:margin-top-2 tablet-lg:margin-top-0">
                        <div class="topic radius-lg mobile:padding-x-1 mobile:padding-y-2 text-center">
                            <span>Training & <br /> Education</span>
                        </div>
                    </div>
                    <div class="mobile:padding-x-1 grid-col-12 tablet-lg:grid-col-3 mobile:margin-top-2 tablet-lg:margin-top-0">
                        <div class="topic radius-lg mobile:padding-x-1 mobile:padding-y-2 text-center">
                            <span>Connect & <br /> Collaborate</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>