<section id="iex-talks" class="iex-container iex-about text-white z-100">
    <div class="grid-container">
        <div class="grid-row flex-align-center" id="iex-talks-grid-row">
            <div class="grid-col-12 tablet-lg:grid-col-6 mobile:order-2 tablet-lg:order-1">
                <div class="iex-talks__image position-relative">
                    <img data-src="assets/img/iex-talks-1.webp" alt="Woman standing and speaking at podium with presentation in background." class="iex-talks__image-two radius-lg maxw-full lazy tablet:padding-left-15 tablet:margin-bottom-neg-8" id="talks-image-2" />
                    <img data-src="assets/img/iex-talks-2.webp" alt="Man standing and presenting on stage." class="iex-talks__image-one radius-lg maxw-full lazy tablet:padding-right-15 margin-top-4 tablet:margin-top-0" id="talks-image-1" />
                </div>
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-6 mobile:order-1 tablet-lg:order-2 border-right-1px mobile-lg-border-left-0 padding-x-0 tablet-lg:padding-x-4">
                <div class="text-reveal">
                    <h3 class="font-condensed-bold margin-bottom-2"><span>i</span>EX TALKS</h3>
                </div>
                <p class="margin-top-0">VHA iEX Talks from those at the forefront of their fields provide real-world experiences where innovation has made a tangible change, impacting Veterans at every level of well-being. In six-to-eight-minute TED Talk-style presentations, VA employees share experiences that widen our viewpoint, challenge our perspectives, and touch on current hot topics. Challenge your beliefs and engage in exciting dialog about the future of Veteran care! </p>
            </div>
        </div>
    </div>
</section>