<section id="iex-keynote-speakers" class="iex-keynote-speakers mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15 text-white">
    <div class="grid-container">
        <!-- Header and Paragraph Text Centered -->
        <div class="grid-row">
            <div class="display-flex flex-column flex-align-center">
                <h3 class="font-condensed-bold  text-uppercase text-center margin-bottom-2">Keynote Speakers <span>and</span> Panels</h3>
                <div class="grid-col-12 tablet:grid-col-8 tablet-lg:grid-col-8 padding-bottom-6"><p class="margin-0">iEX 2024 has a power-packed agenda that includes keynote speakers and expert panels led by VA change-makers and innovation visionaries. You'll want to register to secure your seat and listen in on the Government Panel session with representatives from VHA Office of Healthcare Innovation and Learning, VHA Digital Health Office, and VA Office of Information and Technology. The Innovate Illinois Panel will open a meaningful dialogue about the latest cutting-edge innovations coming out of the Chicago region. Only at iEX do you get opportunities to join thought leaders from government, industry, and academia in making innovation history as they turn the unsolvable into solutions through technology.</p></div>
            </div>
        </div>
        <!-- Photos with Names and Titles Centered Below -->
        <div class="grid-row flex-justify-center text-center" id="grid-row-keynote">
            <!-- Speaker 1 -->
            <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker keynote-speaker-first">
                <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
                <div class="margin-top-3">
                    <div class="font-condensed-bold margin-bottom-1 speaker-name">Speaker Name 1</div>
                    <div>Title 1</div>
                </div>
            </div>
            <!-- Speaker 2 -->
            <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker keynote-speaker-first">
                <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
                <div class="margin-top-3">
                    <div class="font-condensed-bold margin-bottom-1 speaker-name">Speaker Name 2</div>
                    <div>Title 2</div>
                </div>
            </div>
            <!-- Speaker 3 -->
            <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker keynote-speaker-first">
                <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
                <div class="margin-top-3">
                    <div class="font-condensed-bold margin-bottom-1 speaker-name">Speaker Name 3</div>
                    <div>Title 3</div>
                </div>
            </div>
            <!-- Speaker 4 -->
            <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker keynote-speaker-first">
                <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
                <div class="margin-top-3">
                    <div class="font-condensed-bold margin-bottom-1 speaker-name">Speaker Name 4</div>
                    <div>Title 4</div>
                </div>
            </div>
            <!-- Speaker 5 -->
            <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker keynote-speaker-first">
                <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
                <div class="margin-top-3">
                    <div class="font-condensed-bold margin-bottom-1 speaker-name">Speaker Name 5</div>
                    <div>Title 5</div>
                </div>
            </div>
        </div>
        <!-- START accordion -->

        
<div class="usa-accordion">
      <!-- <div id="a1" class="usa-accordion__content usa-prose"> -->
        <div id="a1" class="usa-accordion__content">
            <!-- Additional Photos with Names and Titles Centered Below -->
            <div class="grid-row flex-justify-center mobile:padding-top-7 tablet:padding-top-7 desktop-lg:padding-top-7">
                <!-- Speaker 6 -->
                <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker">
                    <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
                    <div class="margin-top-3">
                        <div class="font-condensed-bold margin-bottom-1 speaker-name">Speaker Name 6</div>
                        <div>Title 6</div>
                    </div>
                </div>
                <!-- Speaker 7 -->
                <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker">
                    <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
                    <div class="margin-top-3">
                        <div class="font-condensed-bold margin-bottom-1 speaker-name">Speaker Name 7</div>
                        <div>Title 7</div>
                    </div>
                </div>
                <!-- Speaker 8 -->
                <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker">
                    <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
                    <div class="margin-top-3">
                        <div class="font-condensed-bold margin-bottom-1 speaker-name">Speaker Name 8</div>
                        <div>Title 8</div>
                    </div>
                </div>
                <!-- Speaker 9 -->
                <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker">
                    <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
                    <div class="margin-top-3">
                        <div class="font-condensed-bold margin-bottom-1 speaker-name">Speaker Name 9</div>
                        <div>Title 9</div>
                    </div>
                </div>
                <!-- Speaker 10 -->
                <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker">
                    <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
                    <div class="margin-top-3">
                        <div class="font-condensed-bold margin-bottom-1 speaker-name">Speaker Name 10</div>
                        <div>Title 10</div>
                    </div>
                </div>
            </div>
          </div>
            <h4 class="usa-accordion__heading">
                <button
                    id="toggleButton"
                    type="button"
                    class="usa-accordion__button usa-button usa-button__vha-2024 button-animate position-relative"
                    aria-expanded="false"
                    aria-controls="a1"
                    onclick="toggleButtonText()">
                    View All Speakers
                    <span class="ripples"></span>
                </button>
            </h4>
        </div>

        <!-- END accordion -->
    </div>
</section>