<section id="iex-look-back" class="mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15 look-back-animation">
    <div class="grid-container padding-x-0 mobile:padding-x-2">
        <div class="grid-row flex-align-center flex-justify-center">
            <div class="grid-col-12">
                <div class="iex-look-back__background radius-lg">
                    <div class="look-back-container text-center grid-col-12 mobile:grid-col-10 desktop:grid-col-9 widescreen:grid-col-7 padding-x-2 desktop:padding-x-0">
                        <h3 class="font-condensed-bold text-base-darkest">LOOK BACK AT iEX 2023</h3>
                        <h4 class="text-base-darkest margin-top-1">Get a taste of what's in store by exploring videos from the 2023 VHA Innovation Experience.</h4>
                        <div class="iex-look-back__video mobile:padding-y-7 tablet:padding-y-7 desktop-lg:padding-y-7">
                            <img data-src="assets/img/iex-2023-recap.png" title="2023 iEX onsite branding" class="radius-lg responsive lazy" />
                            <a href="#" class="usa-button button-vha button-vha--white usa-button--resize">View Recap Video</a>
                        </div>
                        <p class="margin-y-0">Please note the agenda is subject to change. Have questions? Email <a class="text-base-darkest" href="mailto:iex@va.gov">iex@va.gov</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>