<section id="iex-registration" class="iex-container iex-registration z-100">
    <div class="grid-container text-white">
        <div class="grid-row flex-align-start" id="iex-registration-grid-row">
            <div class="grid-col-12 padding-x-0 tablet-lg:padding-x-4">
                <div class="text-reveal">
                    <h3 class="margin-bottom-2 font-condensed-bold text-uppercase text-center">Registration Closed</h3>
                </div>
                
                <p class="margin-top-0">We thank you for your interest in the 2024 VHA Innovation Experience (iEX) conference taking place Oct. 29-30 in Chicago. We regret to inform you that the conference has reached its maximum capacity, and we are unable to secure a ticket for you. We understand this news may be disappointing, and we sincerely apologize for any inconvenience it may cause. We are grateful for your interest and desire to find your home for innovation at VA.</p>
                
                <p>We encourage you to check back on this website in July/August 2025 for information about next year's event. We also suggest following VHA Innovation on <a href="https://twitter.com/VHAInnovation" title="Find us on Twitter @VHAInnovation">Twitter</a>, <a href="https://www.facebook.com/VHAInnovation" title="Find us on Facebook @VHAInnovation">Facebook</a>, and <a href="https://www.youtube.com/user/DeptVetAffairs" title="Watch us on YouTube @deptvetaffairs">YouTube</a> for the latest information.</p>
                
                <p>Thank you again for your interest in iEX, and we hope to have the opportunity to welcome you to a future event. If you have any questions, please e-mail <a href="mailto:iex@va.gov">iex@va.gov</a>.</p>
            
                </p>Sincerely,<br>
                The IEX 2024 Team</p>

            </div>
        </div>

    </div>
</section>