@use "uswds-core" as *;

.iex-keynote-speakers {
    .speakers-bg-container {
        // width: auto;
        // left: 0;
        // bottom: -800px;
        // position: absolute;
        // background: url("../../assets/img/hero/iex-bg-pattern.svg") no-repeat 0 0;

        @include at-media(mobile){
            width: 40rem;
            left: -6rem;
            top: -44rem;
            position: absolute;
        }

        @include at-media(mobile-lg){
            width: 44rem;
            left: -6rem;
            top: -44rem;
            position: absolute;
        }
        @include at-media(tablet){
            width: 50em;
            left: -0;
            top: -42rem;
            position: absolute;
        }
        @include at-media(tablet-lg){
            width: 56rem;
            left: 0;
            top: -42rem;
            position: absolute;
        }
        @include at-media(desktop){
            width: 64rem;
            left: 0;
            top: -34rem;
            position: absolute;
        }
        @include at-media(desktop-lg){
            width: 84rem;
            left: 0;
            top: -28rem;
            position: absolute;
        }
        @include at-media(widescreen){
            width: auto;
            left: 0;
            top: -24rem;
            position: absolute;
        }
    }


    .keynote-speaker {
        img {
            // border-radius: 8px;
            border: 3px solid #11181D;
            // background: url(<path-to-image>) lightgray -200.15px -103.835px / 248.496% 132.448% no-repeat;
            box-shadow: 0px 0px 0px 2px #00BDE3;
            height: 320px;
            object-fit: cover;
            object-position: center;
        }

        .speaker-name {
            font-size: 22px;
            line-height: 1 !important;
        }
    }

    .usa-accordion {
        h4 {
            text-align: center !important;
        }
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    .usa-accordion__button {
        // color: #fff;
        // width: 210px;
        // border-radius: 4px;
        // background: var(--Info-info, #00BDE3);
        background-image: none !important;
        // margin: 0 8px !important;
        // padding: 12px 20px !important;
        // text-align: center !important;
    }

    .usa-accordion__content {
        color: #fff !important;
        background-color: inherit !important;
        padding: 0 !important;
    }

}