.iex-look-back {
    background-image: url('../../assets/img/iex-2023/keynote-speakers-bg.png');

    &__background {
        background: linear-gradient(180deg, #00BDE3, #07648D);
        // padding: 20px;
        // margin: 0 auto;
        // max-width: 1000px;

        .look-back-container {
            margin: 0 auto;
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }

    &__video {
        position: relative;
        display: inline-block;
    
        a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.usa-button--resize {
    width: 175px !important;
}