<section id="iex-about" class="iex-about mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-center">
            <div class="grid-col-12 tablet-lg:grid-col-6 mobile:order-2 tablet-lg:order-1">
                <div class="iex-about__image">
                    <img src="../assets/img/iex-2023/about-large.png" title="iEX speaker" class="iex-about__image-large radius-lg responsive" />
                    <img src="../assets/img/iex-2023/about-small.png" title="iEX speaker" class="iex-about__image-small radius-lg" />
                </div>
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-6 widescreen:grid-col-5 widescreen:grid-offset-1 mobile:order-1 tablet-lg:order-2">
                <div class="h3 font-condensed-bold text-uppercase text-primary-dark">About iEX</div>
                <h1>Transforming Veteran Care: The 2023 VHA Innovation Experience</h1>
                <p>The 2023 Veterans Health Administration (VHA) Innovation Experience (iEX) is an exciting opportunity to be at the forefront of change alongside your fellow innovators, VA employees, Veterans, Industry Leaders, and researchers. This year’s event will help you find a home for innovation in VA as we gather in person for an interactive experience that includes expert panels, keynote speakers, demos, and, new this year, breakout sessions with the nation’s premier innovators. VHA innovation is about breaking boundaries through innovative solutions and technology to make monumental improvements in the lives of Veterans. Shape the future of Veteran care with leaders from government, industry, and academia who are redefining how VA approaches Veterans’ care and uses innovation to make lasting improvements. </p>
            </div>
        </div>
    </div>
</section>