<div class="iex-breakout-tracks mobile:padding-top-8 tablet:padding-top-10 desktop-lg:padding-top-15">    
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-center">
            <div class="grid-12 desktop-lg:grid-col-8 desktop-lg:grid-offset-2">
                <div class="text-center">
                    <h2 class="margin-top-0">Breakout Tracks</h2>
                </div>
                <p>All new to iEX, breakout sessions will help you dive deeper into innovation with four major themes: What is VHA Innovation?, Mastering Innovation, Training & Education, and Connection Café. These interactive experiences span solutions that include XR, 3D printing, mobile apps, and building innovation strategies to solve some of VA and Veteran’s toughest challenges in health and wellness. Meet the nation’s leading innovators, bringing you with them to the cutting edge of change. Some breakout sessions to get excited about include:</p>
                <p>The breakout sessions listed below are only a sample of what's in store for iEX. Please note the agenda is subject to change.</p>
            </div>
        </div>
        <div class="grid-row grid-gap flex-align-center margin-top-4">
            <!-- What is VHA Innovation -->
            <div class="grid-12 desktop-lg:grid-col-10 desktop-lg:grid-offset-1 margin-bottom-4 iex-breakout-tracks__card">
                <div class="grid-row grid-gap flex-align-center">
                    <div class="grid-col-12">
                        <div class="bg-white shadow-4 radius-lg padding-4">
                            <div class="grid-row grid-gap flex-align-center">
                                <div class="iex-breakout-tracks__card-title-col grid-col-12 tablet-lg:grid-col-4 text-center">
                                    <h3 class="text-primary-dark">What is VHA Innovation?</h3>
                                </div>
                                <div class="iex-breakout-tracks__card-description-col grid-col-12 tablet-lg:grid-col-8">
                                    <p>
                                        <strong>Workforce Transformation</strong>
                                        <br />
                                        How VHA is transforming the culture and capabilities of our workforce, specifically highlighting: Innovation Fellowships, the Diffusion Talent Accelerator, and VHA Innovators Network Programming.
                                    </p>
                                    <p>
                                        <strong>SimLEARN 101</strong>
                                        <br />
                                        Learn the basics of SimLEARN. How does simulation improve Veteran outcomes.</p>
                                    <p>
                                        <strong>The Frontline Employee Innovation Experience: Stories of Spreading Innovation</strong>
                                        <br />
                                        Hear the innovation journey of frontline employee innovators, from problem identification to solution development.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mastering Innovation -->
            <div class="grid-12 desktop-lg:grid-col-10 desktop-lg:grid-offset-1 margin-bottom-4 iex-breakout-tracks__card">
                <div class="grid-row grid-gap flex-align-center">
                    <div class="grid-col-12">
                        <div class="bg-white shadow-4 radius-lg padding-4">
                            <div class="grid-row grid-gap flex-align-center">
                                <div class="iex-breakout-tracks__card-title-col grid-col-12 tablet-lg:grid-col-4 text-center">
                                    <h3 class="text-primary-dark">Mastering Innovation</h3>
                                </div>
                                <div class="iex-breakout-tracks__card-description-col grid-col-12 tablet-lg:grid-col-8">
                                    <p>
                                        <strong>VA Data Analytics</strong>
                                        <br />
                                        Go deeper into the world of analytics and how tools like artificial intelligence and synthetic data are driving VA forward. 
                                    </p>
                                    <p>
                                        <strong>Environmental Impact</strong>
                                        <br />
                                        This session will highlight the impact and relationship between health care and the environment and what can be done to innovate in this space. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Training & Education -->
            <div class="grid-12 desktop-lg:grid-col-10 desktop-lg:grid-offset-1 margin-bottom-4 iex-breakout-tracks__card">
                <div class="grid-row grid-gap flex-align-center">
                    <div class="grid-col-12">
                        <div class="bg-white shadow-4 radius-lg padding-4">
                            <div class="grid-row grid-gap flex-align-center">
                                <div class="iex-breakout-tracks__card-title-col grid-col-12 tablet-lg:grid-col-4 text-center">
                                    <h3 class="text-primary-dark">Training & Education</h3>
                                </div>
                                <div class="iex-breakout-tracks__card-description-col grid-col-12 tablet-lg:grid-col-8">
                                    <p>
                                        <strong>Intro to XR</strong>
                                        <br />
                                        Learn the basics of extended reality and how it’s being used throughout VA and health care.
                                    </p>
                                    <p>
                                        <strong>Building Your Innovation Strategy</strong>
                                        <br />
                                        Learn how to strategically build innovation into your work-life. Leave with tools and resources to support innovative thinking.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Connection Café -->
            <div class="grid-12 desktop-lg:grid-col-10 desktop-lg:grid-offset-1 iex-breakout-tracks__card">
                <div class="grid-row grid-gap flex-align-center">
                    <div class="grid-col-12">
                        <div class="bg-white shadow-4 radius-lg padding-4">
                            <div class="grid-row grid-gap flex-align-center">
                                <div class="iex-breakout-tracks__card-title-col grid-col-12 tablet-lg:grid-col-4 text-center">
                                    <h3 class="text-primary-dark">Connection Café</h3>
                                </div>
                                <div class="iex-breakout-tracks__card-description-col grid-col-12 tablet-lg:grid-col-8">
                                    <p>
                                        <strong>VA Intrapreneurial Product Marketplace Innovators</strong>
                                        <br />
                                        Connection Café sessions will be a unique facilitated experience where conference participants can network with innovators and experts in specific fields. This session will feature innovators with products featured on the <a href="https://www.innovation.va.gov/ecosystem/views/innovators-network/vaipm.html">VA Intrapreneurial Product Marketplace</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>         

        </div>        
    </div>
</div>
