<section id="iex-counter" class="iex-counter mobile:padding-y-4 tablet:padding-y-6">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-center">
            <div class="tablet-lg:grid-col-7 desktop:grid-col-7 mobile:margin-bottom-3 tablet-lg:margin-bottom-0">
                <div class="iex-counter__title text-center font-condensed-bold">
                    <h2>Join Us October 31, 2023 <br class="tablet:display-none" /> to November 2, 2023</h2>
                    <h3>Capital Turnaround / Washington, DC</h3>
                </div>
            </div>
            <div class="tablet-lg:grid-col-5 desktop:grid-col-5 text-center">
                <h2>iEX is underway so stay tuned for updates after the event</h2>
            </div>
        </div>
    </div>
</section>