<section id="iex-hero" class="iex-hero mobile:padding-y-3 tablet:padding-y-6 desktop-lg:padding-y-10">
    <div class="iex-hero__logo-container">
        <div class="iex-hero__logo desktop-lg:padding-y-7">
            <img
            sizes="(max-width: 1600px) 100vw, 1600px"
            srcset="
            ../assets/img/iex-2023/hero-logo-05x.png 992w,
            ../assets/img/iex-2023/hero-logo.png 1600w"
            src="../assets/img/iex-2023/hero-logo.png"
            alt="2023 Innovation Experience Logo. Large X in center with images on innovators off to the left and right.">            
        </div>     
    </div>
</section>