<section id="iex-hero" class="iex-hero mobile:padding-y-3 tablet:padding-y-6 desktop-lg:padding-y-10">
    <div class="iex-hero__logo-container">
        <div class="iex-hero__logo desktop-lg:padding-y-7">
            <picture>
                <source srcset="../assets/img/iex-2023/hero-logo-05x.png" media="(max-width: 992px)">
                <source srcset="../assets/img/iex-2023/hero-logo.png" media="(max-width: 1600px)">
                <img src="../assets/img/iex-2023/hero-logo.png" alt="2023 Innovation Experience Logo. Large X in center with images on innovators off to the left and right." 
                  loading="lazy" class="responsive" decoding="async">
              </picture>
        </div>     
    </div>
</section>