<section id="iex-hero" class="iex-hero padding-top-10 mobile:padding-bottom-0 tablet:padding-bottom-6 desktop:padding-bottom-10 loading">
    <div class="grid-container">
        <div class="grid-row flex-align-start">
            <div class="iex-hero__logo-container width-full">
                <div class="iex-hero__logo position-relative display-flex flex-justify-center flex-align-self-start">
                    <div class="inner-container position-relative display-flex flex-align-center flex-justify-center">
                        <div class="bar-gradient bar-left-top"></div>
                        <div class="bar-gradient bar-left-bottom"></div>
                        <div class="bar-gradient bar-right-top"></div>
                        <div class="bar-gradient bar-right-bottom"></div>
                        <div class="iex-logo position-relative display-flex flex-align-center flex-justify-center">
                            <img src="assets/img/hero/iex-i-logo.png" class="i-logo" alt="letter i of the iex logo">
                            <img src="assets/img/hero/iex-x-logo.png" class="x-logo" alt="letter x of the iex logo">
                            <img src="assets/img/hero/iex-e-logo.png" class="e-logo" alt="letter e of the iex logo">
                        </div>
                        <div class="chevrons">
                            <img src="assets/img/hero/left-1.png" class="image-left" id="left-chevron-1" alt="iex chevron shape filled with images of people">
                            <img src="assets/img/hero/left-2.png" class="image-left" id="left-chevron-2" alt="iex chevron shape filled with images of people">
                            <img src="assets/img/hero/left-3.png" class="image-left" id="left-chevron-3" alt="iex chevron shape filled with images of people">
                            <img src="assets/img/hero/left-4.png" class="image-left" id="left-chevron-4" alt="iex chevron shape filled with images of people">
                            <img src="assets/img/hero/left-5.png" class="image-left" id="left-chevron-5" alt="iex chevron shape filled with images of people">
                        </div>
                        <div class="chevrons">
                            <img src="assets/img/hero/right-1.png" class="image-right" id="right-chevron-1" alt="iex chevron shape filled with images of people">
                            <img src="assets/img/hero/right-2.png" class="image-right" id="right-chevron-2" alt="iex chevron shape filled with images of people">
                            <img src="assets/img/hero/right-3.png" class="image-right" id="right-chevron-3" alt="iex chevron shape filled with images of people">
                            <img src="assets/img/hero/right-4.png" class="image-right" id="right-chevron-4" alt="iex chevron shape filled with images of people">
                            <img src="assets/img/hero/right-5.png" class="image-right" id="right-chevron-5" alt="iex chevron shape filled with images of people">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-row flex-align-center flex-justify-center text-white display-flex flex-column mobile:padding-top-3 tablet:padding-top-6">
            <h1 class="display-block text-uppercase">2024 VHA Innovation Experience</h1>
            <h2 class="display-block text-uppercase">Collaborating For Change</h2>
        </div>
    </div>
</section>