<section id="iex-keynote-speakers" class="iex-keynote-speakers mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15 text-white">
    <div class="grid-container">
        <!-- Header and Paragraph Text Centered -->
        <div class="grid-row flex-justify-center text-center">
            <div class="grid-col-12">
                <h3>KEYNOTE SPEAKERS <span>AND</span> PANELS</h3>
                <p>iEX 2024 has a power-packed agenda that includes keynote speakers and expert panels led by VA change-makers and innovation visionaries. You'll want to register to secure your seat and listen in on the Government Panel session with representatives from VHA Office of Healthcare Innovation and Learning, VHA Digital Health Office, and VA Office of Information and Technology. The Innovate Illinois Panel will open a meaningful dialogue about the latest cutting-edge innovations coming out of the Chicago region. Only at iEX do you get opportunities to join thought leaders from government, industry, and academia in making innovation history as they turn the unsolvable into solutions through technology.</p>
            </div>
        </div>
        <!-- Photos with Names and Titles Centered Below -->
        <div class="grid-row flex-justify-center">
            <!-- Speaker 1 -->
            <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker">
                <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
                <div class="margin-top-2">
                    <div class="font-condensed-bold h3">Speaker Name 1</div>
                    <div>Title 1</div>
                </div>
            </div>
            <!-- Speaker 2 -->
            <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker">
                <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
                <div class="margin-top-2">
                    <div class="font-condensed-bold h3">Speaker Name 2</div>
                    <div>Title 2</div>
                </div>
            </div>
            <!-- Speaker 3 -->
            <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker">
                <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
                <div class="margin-top-2">
                    <div class="font-condensed-bold h3">Speaker Name 3</div>
                    <div>Title 3</div>
                </div>
            </div>
            <!-- Speaker 4 -->
            <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker">
                <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
                <div class="margin-top-2">
                    <div class="font-condensed-bold h3">Speaker Name 4</div>
                    <div>Title 4</div>
                </div>
            </div>
            <!-- Speaker 5 -->
            <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker">
                <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
                <div class="margin-top-2">
                    <div class="font-condensed-bold h3">Speaker Name 5</div>
                    <div>Title 5</div>
                </div>
            </div>
        </div>
        <!-- START accordion -->
<div class="usa-accordion mobile:padding-top-7 tablet:padding-top-7 desktop-lg:padding-top-7">
  <h4 class="usa-accordion__heading">
    <button
      type="button"
      class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="a1"
    >
      View All Speakers
    </button>
  </h4>
  <!-- <div id="a1" class="usa-accordion__content usa-prose"> -->
    <div id="a1" class="usa-accordion__content">
    <!-- Additional Photos with Names and Titles Centered Below -->
    <div class="grid-row flex-justify-center mobile:padding-top-7 tablet:padding-top-7 desktop-lg:padding-top-7">
        <!-- Speaker 6 -->
        <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker">
            <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
            <div class="margin-top-2">
                <div class="font-condensed-bold h3">Speaker Name 6</div>
                <div>Title 6</div>
            </div>
        </div>
        <!-- Speaker 7 -->
        <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker">
            <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
            <div class="margin-top-2">
                <div class="font-condensed-bold h3">Speaker Name 7</div>
                <div>Title 7</div>
            </div>
        </div>
        <!-- Speaker 8 -->
        <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker">
            <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
            <div class="margin-top-2">
                <div class="font-condensed-bold h3">Speaker Name 8</div>
                <div>Title 8</div>
            </div>
        </div>
        <!-- Speaker 9 -->
        <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker">
            <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
            <div class="margin-top-2">
                <div class="font-condensed-bold h3">Speaker Name 9</div>
                <div>Title 9</div>
            </div>
        </div>
        <!-- Speaker 10 -->
        <div class="grid-col-12 mobile:grid-col-6 tablet:grid-col-4 desktop:grid-col-2 text-center margin-x-2 margin-y-2 keynote-speaker">
            <img data-src="assets/img/keynote-speakers.png" title="Keynote speaker" class="radius-lg responsive lazy" />
            <div class="margin-top-2">
                <div class="font-condensed-bold h3">Speaker Name 10</div>
                <div>Title 10</div>
            </div>
        </div>
    </div>
  </div>
</div>

        <!-- END accordion -->
    </div>
</section>