<section id="iex-keynote-speakers" class="iex-keynote-speakers mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-center">
            <div class="grid-col-12 tablet-lg:grid-col-6">
                <h1>Keynote Speakers and Panels</h1>
                <p>iEX 2023 has a power-packed agenda focused on Innovators, Welcome Home!, which includes keynote speakers and expert panels led by VA change-makers and innovation visionaries. Secretary of VA Denis McDonough kicks off iEX 2023, welcoming attendees and reiterating VA’s commitment to innovation to meet Veteran health care needs. You’ll want to register to secure your seat and listen in on the Government to Industry Panel session with VA, DARPA, and ARPA-H representatives discussing how to transition from government innovation to industry standard successfully. The Mission Daybreak Panel will open a meaningful dialogue with the winners of VA’s Mission Daybreak challenge discussing the prevention of Veteran suicide. Only at iEX do you get opportunities to join thought leaders from government, industry, and academia in making innovation history as they turn the unsolvable into solutions through technology.</p>
            </div>

            <div class="grid-col-12 tablet-lg:grid-col-6 widescreen:grid-col-5 widescreen:grid-offset-1">                
                    <img data-src="../assets-3-5/img/iex-2023/keynote-speakers.png" title="Keynote speaker on stage" class="radius-lg responsive lazy" />
            </div>
        </div>
    </div>
</section>