<section id="iex-registration" class="iex-registration">
    <div class="iex-registration__svg-wrapper">
        <div class="grid-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1384 291" fill="none" preserveAspectRatio="xMidYMax meet"><path fill="#F0F0F0" d="M1384 0H0l690.812 291L1384 0Z" /></svg>    
        </div>
    </div>
    <div class="iex-registration__content-wrapper mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">    
        <div class="grid-container">
            <div class="grid-row grid-gap flex-align-center">
                <div class="grid-12 desktop-lg:grid-col-10 desktop-lg:grid-offset-1">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 desktop:grid-col-6 margin-bottom-4 desktop:margin-bottom-0">
                            <div class="usa-card usa-card--vha usa-card--flag">
                                <div class="usa-card__container shadow-5">
                                    <div class="usa-card__header">
                                        <h2 class="usa-card__heading">Join Us In Person</h2>
                                    </div>
                                    <div class="usa-card__media">
                                        <div class="usa-card__img">
                                            <a href="https://whova.com/portal/registration/viei_202310/"><img data-src="../assets/img/iex-2023/registration-in-person.jpg" alt="iEX logo on a black background" class="lazy" /></a>
                                        </div>
                                    </div>
                                    <div class="usa-card__body">
                                        <p>Register now and keep an eye out for updates to the agenda, speaker list, traveler information, and more!</p>
                                    </div>
                                    <div class="usa-card__footer">
                                        <a href="https://whova.com/portal/registration/viei_202310/" class="usa-button button-vha button-vha--yellow">Register Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-col-12 desktop:grid-col-6">
                            <div class="usa-card usa-card--vha usa-card--flag">
                                <div class="usa-card__container  shadow-4">
                                    <div class="usa-card__header">
                                        <h2 class="usa-card__heading">Join Shark Tank Virtually</h2>
                                    </div>
                                    <div class="usa-card__media">
                                        <div class="usa-card__img">
                                            <a href="https://whova.com/portal/registration/viei_202310/l35e3ivf"><img data-src="../assets/img/iex-2023/registration-shark-tank2.jpg" alt="Photo from previous Shark Tank presentation" class="lazy" /></a>
                                        </div>
                                    </div>
                                    <div class="usa-card__body">
                                        <p>Register for the VHA Shark Tank competition's livestream from the event.</p>
                                    </div>
                                    <div class="usa-card__footer">
                                        <a href="https://whova.com/portal/registration/viei_202310/l35e3ivf" class="usa-button button-vha button-vha--teal">Register Now</a>
                                    </div>
                                </div>
                            </div>                
                        </div>                        
                    </div>
                    <div class="text-center text-white">
                        <h2 class="margin-bottom-0">We're excited to see you in October.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>