@use "uswds-core" as *;
@import "../../../../node_modules/rfs/scss";

p {
    font-size: 20px;
    line-height: 28px;
}

.intro {
    @include font-size(22px);
}

h1, .h1 {
    @include font-size(40px);
}

h2, .h2 {
    @include font-size(32px);
}

h3, .h3 {
    font-size: 64px;
    color: white;
    line-height: 1;
    font-weight: 700;
    font-family: Myriad Pro, sans-serif;
    letter-spacing: -1px;
    padding: 0;
    margin: 0;

    @include at-media(tablet) {
        font-size: 84px;
        line-height: 1;
    }
    @include at-media(desktop-lg) {
        font-size: 100px;
        line-height: 90px;
    }
}

h4, .h4 {
    @include font-size(18px);
}

.display-1 { @include font-size(80px);}
.display-2 { @include font-size(72px);}
.display-3 { @include font-size(64px);}
.display-4 { @include font-size(56px);}
.display-5 { @include font-size(48px);}
.display-6 { @include font-size(40px);}

.font-condensed-bold { font-family: "Myriad-Pro-Condensed", Helvetica, arial, sans-serif; }

.text-reveal {
    position: relative;
    overflow: hidden;
}