<!-- DIVISIONS - START -->
<section id="divisions" class="divisions mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15 bg-base-lightest">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-center">
            <div class="col-12 tablet:grid-col-6 desktop:grid-col-4">
                <div class="divisions__item divisions__item--healthcare">
                    <div class="divisions__item-wrapper">
                        <div class="divisions__item-content">
                            <h2 class="divisions__item-title">Health Care</h2>
                            <div class="divisions__item-description">
                                Sparking mission-driven health care innovation
                            </div>
                            <a href="#" class="divisions__item-link stretched-link">Learn more about Innovation Ecosystem</a>
                        </div>
                    </div>
                    <div class="divisions__item-bg-overlay"></div>
                </div>
            </div>
            <div class="col-12 tablet:grid-col-6 desktop:grid-col-4">
                <div class="divisions__item divisions__item--learning">
                    <div class="divisions__item-wrapper">
                        <div class="divisions__item-content">
                            <h2 class="divisions__item-title">Learning</h2>
                            <div class="divisions__item-description">
                                Healthcare Training Through Innovation and Excellence
                            </div>
                            <a href="#" class="divisions__item-link stretched-link">Learn more about SimLEARN</a>
                        </div>
                    </div>
                    <div class="divisions__item-bg-overlay"></div>
                </div>
            </div>
            <div class="col-12 tablet:grid-col-6 desktop:grid-col-4">
                <div class="divisions__item divisions__item--payment">
                    <div class="divisions__item-wrapper">
                        <div class="divisions__item-content">
                            <h2 class="divisions__item-title">Payment</h2>
                            <div class="divisions__item-description">
                                Driving Data-Driven<br />Veteran Care
                            </div>
                            <a href="#" class="divisions__item-link stretched-link">Learn more about CCPI</a>
                        </div>
                    </div>
                    <div class="divisions__item-bg-overlay"></div>
                </div>
            </div>
            <div class="col-12 tablet:grid-col-6 desktop:grid-col-4">
                <div class="divisions__item divisions__item--manufacturing">
                    <div class="divisions__item-wrapper">
                        <div class="divisions__item-content">
                            <h2 class="divisions__item-title">Manufacturing</h2>
                            <div class="divisions__item-description">
                                Delivering Solutions to Veterans at the Point of Care
                            </div>
                            <a href="#" class="divisions__item-link stretched-link">Learn more about OAM</a>
                        </div>
                    </div>
                    <div class="divisions__item-bg-overlay"></div>
                </div>
            </div>
            <div class="col-12 tablet:grid-col-6 desktop:grid-col-4">
                <div class="divisions__item divisions__item--immersive">
                    <div class="divisions__item-wrapper">
                        <div class="divisions__item-content">
                            <h2 class="divisions__item-title">Immersive</h2>
                            <div class="divisions__item-description">
                                Elevating Veteran Care through Immersive Innovation
                            </div>
                            <a href="#" class="divisions__item-link stretched-link">Learn more about VA Immersive</a>
                        </div>
                    </div>
                    <div class="divisions__item-bg-overlay"></div>
                </div>
            </div>
            <div class="col-12 tablet:grid-col-6 desktop:grid-col-4">
                <div class="divisions__item divisions__item--iex">
                    <div class="divisions__item-wrapper">
                        <div class="divisions__item-content">
                            <h2 class="divisions__item-title">iEX</h2>
                            <div class="divisions__item-description">
                                Shaping Innovation for<br />Future Veteran Care
                            </div>
                            <a href="#" class="divisions__item-link stretched-link">Learn more about iEX</a>
                        </div>
                    </div>
                    <div class="divisions__item-bg-overlay"></div>
                </div>
            </div>            
        </div>
    </div>
</section>
<!-- DIVISIONS - END -->