<!-- HERO - START -->
<section id="hero" class="hero mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="hero__content-wrapper">
        <div class="grid-container">
            <div class="grid-row grid-gap flex-align-center">
                <div class="col-12 desktop-lg:grid-col-10 desktop-lg:grid-offset-1">
                    <p class="intro margin-top-0 text-center text-white">Transformative initiatives to improve the well-being of our Veterans</p>
                    <div class="hero__logo" data-parallax='{"y": -40 }'>
                        <picture>
                            <source media="(max-width:580px)" srcset="assets/img/home/logo-mobile.webp">
                            <source media="(max-width:800px)" srcset="assets/img/home/logo-tablet.webp">
                            <img src="assets/img/home/logo-desktop.webp" alt="OHIL logo with image collage of innovative healthcare technology" class="img-fluid">
                        </picture>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero__video-wrapper">
        <div class="hero__gradient-overlay hero__gradient-overlay--top"></div>
        <div class="hero__gradient-overlay hero__gradient-overlay--bottom"></div>
        <video class="hero__bg-video" autoplay loop muted poster="assets/img/home/poster-hero.jpg">
            <source src="https://res.cloudinary.com/dx6xvcbwl/video/upload/v1696523314/wbd/OHIL/bg-video_mdyatt.mp4" type="video/mp4">
        </video>
    </div>
</section>
<!-- HERO - END -->