<!-- INTRODUCTION - START -->
<section id="introduction" class="home-introduction mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-center">
            <div class="col-12 desktop-lg:grid-col-10 desktop-lg:grid-offset-1 home-introduction__content">
                <h1 class="margin-top-0 text-center">Introducing the power of innovation and learning</h1>
                <p>Uniting VHA Innovation Ecosystem (VHA IE), the Simulation Learning, Evaluation, Assessment, and Research Network (SimLEARN), along with the Center for Care and Payment Innovation (CCPI). Embrace a world of possibilities as we pave the way for cutting-edge advancements, foster growth through immersive learning experiences, and drive transformative changes in healthcare.</p>
            </div>
        </div>
    </div>
    <div class="home-introduction__blur home-introduction__blur--1"></div>
    <div class="home-introduction__blur home-introduction__blur--2"></div>
</section>
<!-- INTRODUCTION - END -->