<!-- STATE OF INNOVATION - START -->
<section id="soi" class="state-of-innovation mobile:padding-bottom-8 tablet:padding-bottom-10 desktop-lg:padding-bottom-15">
    <div class="grid-container">
        <div class="state-of-innovation__container mobile:padding-3 desktop:padding-5 radius-lg">
            <div class="grid-row grid-gap flex-align-center">
                <div class="col-12 tablet-lg:grid-col-6 state-of-innovation__content text-white">
                    <div title="VHA 2023 State of Innovation Report" class="title display-flex flex-align-start font-condensed-bold text-uppercase margin-0">
                        <span class="title-1">VHA</span>
                        <span class="title-2">2023 State of <br />Innovation Report</span>
                    </div>
                    <p>Welcome to the 2023 State of Innovation Report, an annual publication from VHA's Office of Healthcare Innovation and Learning! With the theme of "Delivering on the Mission: Fostering Trust and Transforming Care," this year's report focuses on educating and empowering Veterans to engage with the innovative projects and programs that are most relevant to their health care journeys.</p>
                    <p>We encourage eligible Veterans to scan available QR codes, reach out to available email addresses, and ask their VA care teams for more information and guidance on taking advantage of the projects featured in this report. Our providers look forward to hearing from you!</p>
                    <p><a href="#" class="usa-button button-vha button-vha--yellow">Download PDF</a></p>
                </div>
                <div class="col-12 tablet-lg:grid-col-6 state-of-innovation__image text-white">
                    <a href="#"><img src="assets/img/home/soi-book.png" alt="Image of SOI booklet" class="image-fluid" /></a>
                </div>
            </div>
            <div class="state-of-innovation__background">
                <div class="state-of-innovation__yellow-element"></div>
            </div>
        </div>
    </div>
</section>
<!-- STATE OF INNOVATION - END -->